@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #24252A;
}

li, a, button, form, input{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10px;
}

.logo{
    cursor: pointer;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #fff;
    color: #0088a9;
}

form {
    display: flex;
    align-items: center;
}

form input[type="text"] {
    padding: 5px;
    font-size: 17px;
    border: none;
    flex: 1;
}

form input[type="submit"] {
    padding: 9px 15px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #fff;
}

form input[type="submit"]:hover {
    background-color: #fff;
    color: #0088a9;
}